/*@import "tailwindcss";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #020202;
  --font-primary: 'Jost';
  --font-secondary: 'Handlee';
}

body {
  color: var(--color-black);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}