@import "tailwindcss";

:root {
  --color-black: #020202;
  --color-white: #F9F9F9;
  --color-navbar: #DEC18C;
  --font-primary: 'Jost';
  --font-secondary: 'Handlee';
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-primary), 'trebuchet ms', sans-serif;
}

nav.navbar {
  background-color: var(--color-navbar);
}

.font-secondary {
  font-family: var(--font-secondary), 'cursive';
}

.border-primary {
  border-color: var(--color-navbar);
}

.background-primary {
  background-color: var(--color-navbar);
}

.hover\:hover-primary:hover {
  color: var(--color-navbar);
}

.display-logo {
  display: block;
}

.hidden-logo {
  display: none;
}